<h1>Youngest director</h1>

<p>
  The youngest director in our dataset right now is <%= @youngest_director_name %> born on <%= @youngest_director_dob %>.
</p>

<p>
  (http://strftime.net/ is handy for putting together the formatting strings for the .strftime method.)
</p>